@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    background-color: #D2D2D2;
    background-image:
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(img/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}
.banner .content audio {
    width: 300px;
    height: 50px;
    background-color: #f5f5f5;
    border: 2px solid #25283B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    background-image: url('img/japanese-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }
}
.additional-content {
    padding: 40px 20px;
    background-color: #D2D2D2;
    background-image:
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );
    text-align: left;
}

.additional-content section {
    margin-bottom: 40px;
    position: relative;
}

.additional-content h2 {
    font-family: 'ICA Rubrik', sans-serif;
    font-size: 2.5em;
    color: #25283B;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.additional-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #25283B;
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: center;
}

.additional-content p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #25283B;
    max-width: 800px;
    margin: 0 0 20px;
    text-align: left;
}

.experience-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.experience-gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #25283B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#footer {
    background-color: #25283B;
    color: #f0f0f0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 10px 0;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #d2d2d2;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

#play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25283B;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#play-button::before {
    content: '▶';
    font-size: 1.5em;
    color: #f0f0f0;
    position: absolute;
}

#play-button.playing::before {
    content: '❚❚';
}

#experience a, #certificate a, #about-me a {
    display: inline-block;
    padding: 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: #25283B;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 2px solid #25283B;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-image: url('img/japanese-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}

#experience a:hover, #certificate a:hover, #about-me a:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#experience, #certificate, #about-me {
    text-align: center;
}

#hobby {
    margin-top: 20px;
    text-align: left;
}

.hobby-container {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 10px;
}

.hobby-item {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border: 3px solid #25283B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.hobby-item:hover {
    transform: scale(1.05);
}

.hobby-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #25283B;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img/I1.png');
}
.card[for="c2"] {
    background-image: url('./img/I2.png');
}
.card[for="c3"] {
    background-image: url('./img/I4.png');
}
.card[for="c4"] {
    background-image: url('./img/I3.png');
}

.title {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.skill p {
    align-items: center;
    justify-content: center;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.skill {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}

.bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.minus, .plus {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: #25283b;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.minus:hover, .plus:hover {
    background-color: #3b3f5c;
}

.bar {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    transition: background-color 0.3s;
    outline: 2px solid #25283b;
}

.dark {
    background-color: #25283b;
}

.light {
    background-color: #d3d3d3;
}

.skill span {
    margin-bottom: 20px;
    font-family: '';


}


