.about-me {
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px;
    position: relative;
}

.about-me h2 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    font-size: 3.5em;
}

.description {
    text-align: center;
    margin-bottom: 80px;
    color: #666;
    font-size: 1.2em;
}

.timeline {
    position: relative;
    padding: 40px 0;
    margin-left: 80px;
}

.timeline::before {
    content: none;
}

.timeline-item {
    margin-bottom: 150px;
    position: relative;
}

.timeline-item:not(:last-child)::after {
    content: none;
}

.timeline-content {
    display: flex;
    align-items: center;
    position: relative;
}

.year {
    width: 100px;
    text-align: right;
    padding-right: 100px;
    font-weight: bold;
    font-size: 1.3em;
    white-space: nowrap; /* Prevent line breaks */
    margin-right: 40px;
}

.dot {
    width: 20px;
    height: 20px;
    background: #1a2a4f; /* Dark blue color */
    border-radius: 50%;
    margin: 0 1px;
    flex-shrink: 0;
    transition: all 0.3s ease;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #d1d1d1;
    position: relative;
    z-index: 2;
}

@keyframes loading {
    0% {
        transform: scale(1);
        background-color: #1a2a4f;
    }
    50% {
        transform: scale(1.2);
        background-color: #000;
    }
    100% {
        transform: scale(1);
        background-color: #1a2a4f;
    }
}

.timeline-item.active .dot {
    animation: none;
    background-color: pink;
}

.timeline-item.active::after {
    background: #000; /* Black color for active line */
}

.content {
    flex-grow: 1;
    padding-left: 30px;
}

.content h3 {
    margin: 0;
    color: #333;
    font-size: 1.8em;
}

.content p {
    margin: 10px 0 0;
    color: #666;
    font-size: 1.2em;
}

.photo-layout {
    display: flex;
    gap: 10px; /* Space between images */
    margin-top: 10px; /* Space above the image layout */
}

.photo-slot {
    width: 100px; /* Width of each image */
    height: 100px; /* Height of each image */
    background-color: #e0e0e0; /* Placeholder background color */
    border: 1px solid #ccc; /* Border around each image */
    border-radius: 5px; /* Rounded corners */
    object-fit: cover; /* Ensure images cover the slot without distortion */
}

@media (max-width: 768px) {
    .about-me {
        padding: 10px;
    }
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .timeline-content {
        width: 100%;
    }
    .description {
        font-size: 1rem;
    }
}
