.about-me {
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px;
    position: relative;
}

.about-me h2 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    font-size: 3.5em;
}

.description {
    text-align: center;
    margin-bottom: 80px;
    color: #666;
    font-size: 1.2em;
}

.timeline {
    position: relative;
    padding: 40px 0;
    margin-left: 100px;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 3px;
    background: #d1d1d1;
    top: 0;
    bottom: 0;
    left: 30px;
    transform: none;
}

.timeline-item {
    margin-bottom: 150px;
    position: relative;
}

.timeline-item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 3px;
    background: #d1d1d1;
    height: 120px;
    left: 43.5px;
    top: 50px;
}

.timeline-content {
    display: flex;
    align-items: center;
    position: relative;
}

.year {
    width: 120px;
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
    font-size: 1.3em;
}

.dot {
    width: 30px;
    height: 30px;
    background: #d1d1d1;
    border-radius: 50%;
    margin: 0 30px;
    flex-shrink: 0;
    transition: all 0.3s ease;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #d1d1d1;
    position: relative;
    z-index: 2;
}

.timeline-item.active .dot {
    background: #000;
    box-shadow: 0 0 0 3px #000;
    transform: scale(1.2);
}

.timeline-item.active::after {
    background: #000;
}

.content {
    flex-grow: 1;
    padding-left: 30px;
}

.content h3 {
    margin: 0;
    color: #333;
    font-size: 1.8em;
}

.content p {
    margin: 10px 0 0;
    color: #666;
    font-size: 1.2em;
}
