body {
    background-color: #D2D2D2;
    background-image:
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.certificate-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.certificate-title {
    font-family: 'ICA Rubrik', sans-serif;
    font-size: 4em;
    color: #25283B;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.certificate-title::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.certificate-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #25283B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    background-image:
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px
        ),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );
}

.certificate-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 20px;
}

.certificate-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #25283B;
    text-align: center;
}
